@model BookStore.Models.sellers

@{
    ViewData["Title"] = "Profilim";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/sellerProfil/profil.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="header">
        <a class="header-item" asp-controller="Seller" asp-action="Profile">
            <span class="icon"><i class="fas fa-user"></i></span>
            Profilim
        </a>

        <a class="header-item" asp-controller="Seller" asp-action="Store">
            <span class="icon"><i class="fas fa-store"></i></span>
            Mağazam
        </a>

        <a class="header-item" asp-controller="Seller" asp-action="Products">
            <span class="icon"><i class="fas fa-box"></i></span>
            Ürün
        </a>

        <a class="header-item" asp-controller="Seller" asp-action="Sales">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            Satışlarım
        </a>

        <a class="header-item exit" asp-controller="Account" asp-action="Logout">
            <span class="icon"><i class="fas fa-times-circle"></i></span>
            Çıkış Yap
        </a>
    </div>

    <div class="content">
        <div class="info-box">
            <div class="profile-icon">
                <i class="fas fa-user"></i> <!-- Font Awesome kullanıcı ikonu -->
            </div>

            <h2>Bilgilerim</h2>
            <ul>
                <li><strong>Adı:</strong> @Model.s_name</li>
                <li><strong>E-posta:</strong> @Model.s_mail</li>
                <li><strong>Telefon Numarası:</strong> @Model.s_phoneNum</li>
                <li><strong>Şehir:</strong> @Model.city</li>
            </ul>

            <a class="update-button" asp-action="EditProfile" >Güncelle</a>
        </div>
    </div>
</body>
</html>
